### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
players=purchase_data.SN.unique()
len(players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Calculate values
average_sale=[]
average_sale = purchase_data.Price.mean()
tot_volume = purchase_data.Price.sum()
tot_sales = purchase_data.Price.count()

# initialize list of lists 
data = [[average_sale, tot_volume, tot_sales]] 
  
# Create the pandas DataFrame 
sales_summary = pd.DataFrame(data, columns = ['Average Sale', 'Total Volume', 'Total_sales']) 
  
# print dataframe. 
sales_summary

   Average Sale  Total Volume  Total_sales
0      3.050987       2379.77          780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# purchase_data['Gender'].count('Male')
by_gender=purchase_data.groupby(['Gender']).size().reset_index(name='counts')
by_gender

                  Gender  counts
0                 Female     113
1                   Male     652
2  Other / Non-Disclosed      15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# sales_by_gender=purchase_data.groupby('Gender').Price.sum()
# volume_by_gender=purchase_data.groupby('Gender').Price.count()
# average_by_gender=purchase_data.groupby('Gender').Price.mean()
# average_by_gender
gender_summary=purchase_data.groupby('Gender').Price.agg(['sum', 'count', 'mean'])
gender_summary

                           sum  count      mean
Gender
Female                  361.94    113  3.203009
Male                   1967.64    652  3.017853
Other / Non-Disclosed    50.19     15  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
# age_count=purchase_data.Age.unique()
# age_count
# bins=[0, 10, 20, 30, 40, 50]
binned_ages = pd.cut(purchase_data.Age,bins)
binned_ages

0      (10, 20]
1      (30, 40]
2      (20, 30]
3      (20, 30]
4      (20, 30]
         ...
775    (20, 30]
776    (20, 30]
777    (10, 20]
778     (0, 10]
779    (20, 30]
Name: Age, Length: 780, dtype: category
Categories (5, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50]]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
group_names=['<10', '11-20', '21-30', '31-40', '41-50']
purchase_data['Age_Group']=pd.cut(purchase_data.Age, bins, labels=(group_names))
# purchase_data
age_summary=purchase_data.groupby('Age_Group').Price.agg(['sum', 'count', 'mean'])
age_summary

               sum  count      mean
Age_Group
<10         108.96     32  3.405000
11-20       778.16    254  3.063622
21-30      1203.06    402  2.992687
31-40       268.06     85  3.153647
41-50        21.53      7  3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [103]:
top_spenders=purchase_data.groupby('SN').Price.agg(['count', 'mean', 'sum'])
# top_spenders
sorted_spenders = top_spenders.sort_values('sum', ascending=False)
sorted_spenders

             count      mean    sum
SN
Lisosia93        5  3.792000  18.96
Idastidru52      4  3.862500  15.45
Chamjask73       3  4.610000  13.83
Iral74           4  3.405000  13.62
Iskadarya95      3  4.366667  13.10
...            ...       ...    ...
Ililsasya43      1  1.020000   1.02
Irilis75         1  1.020000   1.02
Aidai61          1  1.010000   1.01
Chanirra79       1  1.010000   1.01
Alo38            1  1.000000   1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [109]:
top_items=purchase_data.groupby('Item Name').Price.agg(['count', 'sum'])
top_items.sort_values('sum', ascending=False).head(10)

                                              count    sum
Item Name
Final Critic                                     13  59.99
Oathbreaker, Last Hope of the Breaking Storm     12  50.76
Nirvana                                           9  44.10
Fiery Glass Crusader                              9  41.22
Singed Scalpel                                    8  34.80
Lightning, Etcher of the King                     8  33.84
Extraction, Quickblade Of Trembling Hands         9  31.77
Glimmer, Ender of the Moon                        7  30.80
Winter's Bite                                     8  30.16
Persuasion                                        9  28.99

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [111]:
# most_profitable=purchase_data.groupby('Item Name').Price
# most_profitable.head()
# most_profitable=purchase_data.groupby('Item Name').Price.sort_values('Price', ascending=False)
# most_profit = purchase_data.sort_values("Price", ascending=False)
# most_profit=purchase_data.groupby('Item Name').Price.max()
# most_profit.sort_values(ascending=False).head(10)
purchase_data.groupby('Item Name').Price.max().sort_values(ascending=False)

Item Name
Stormfury Mace                       4.99
Mercy, Katana of Dismay              4.94
Stormfury Longsword                  4.93
Hellreaver, Heirloom of Inception    4.93
Blazeguard, Reach of Eternity        4.91
                                     ...
Hope's End                           1.03
Dawne                                1.02
Pursuit, Cudgel of Necromancy        1.02
War-Forged Gold Deflector            1.01
Whistling Mithril Warblade           1.00
Name: Price, Length: 179, dtype: float64